fastapi
uvicorn
pypdf
langchain
langchain-community==0.2.5
sentence-transformers
chromadb
python-multipart
SQLAlchemy 
pydantic
google-generativeai
python-dotenv
pymongo # New
dnspython 
pysqlite3-binary==0.5.4